<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="HMCConnect" value="Data Source=H-HEMMDB;Initial Catalog = HEMM; "/>
    <add key="UWConnect" value="Data Source=U-HEMMDB;Database = HEMM;"/>  
    <add key="logFile" value="ExpiredPWLog.txt" />
    <add key="archiveFile" value="archive.txt" />
    <!-- debug = true writes some waypoints to the log and directs all emails to dlrjones -->
    <add key="debug" value="true" />
  
    <!--<add key="emailExceptions" value="airliftnw.org" /> separate domains with a pipe " | " and add user to ...Pmm IS Data\HEMMApps\PWExpirationNotice\Attachments\hmc\username.txt -->
    <add key="attachmentPath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\PWExpirationNotice\Attachments\" /> 
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\PWExpirationNotice\Logs\" />
    <add key="unameVariantList" value="\\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\username.txt"/>
    
  </appSettings>
</configuration>